

.container.header-top-nav {
    font-size: 13px;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-collapse.collapse {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
}

.navbar-nav {
    float: none; 
    display: inline-block;
}

nav {
    max-height: 50px;
}

@media (min-width: 992px) and (max-width: 1199px) { 
    .main-menu-warp .main-menu {
        width: 80%;
    }
    .main-menu ul li a {
        padding: 17px 8px; 
    }
    .main-menu-warp .sociles {
        width: 13%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .top-inner-warp .flot-left {
        width: 80%;
    }
    .fature-inner .fature-list {
        padding: 45px 0;
    }
    .single-portfolio {
        margin-bottom: 45px; 
    }
    .product-wapper { 
        padding-top: 40px; 
    }
    .product-sidebar {
        margin-top: 50px;
        overflow: hidden;
    }
    .border-right {
        border-right: none;
    }
}
@media (max-width: 767px) { 
    .top-inner-warp .flot-left {
        width: 80%;
    }
    .border-right {
        border-right: none;
    }
    .fature-box .fature-title p {
        padding: 0 4%;
    }
    .single-portfolio {
        margin-bottom: 45px; 
    }
    .support-worp .support-list { 
        text-align: center;
    }
    .support-list .single-support {
        display: inline-block;
        float: none;
        margin-bottom: 25px;
        margin-left: 2%;
        margin-right: 3%;
        width: 20%;
    }
    .clint-cartefy-inner .clint-box.cartefy {
        margin-top: 50px;
    }
    .footer { 
        height: auto; 
        text-align: center;
    }
    .footer-right {
        margin: auto;
        overflow: hidden;
        text-align: center;
        width: 100%;
    }
    .footer-right .sociles {
        display: inline-block;
        float: none; 
    }

    .product-details .product-content .thumb {
        float: none;
        margin-right: 0;
        text-align: center;
        margin-bottom: 40px;
    }
    .fature-inner .fature-list {
        padding: 40px 0;
    }
    .product-details .product-fature {
        text-align: center;
        width: 100%;
    }
    .product-fature .single-fature { 
        display: inline-block;
        float: none;
        width: 90%;
    }
    .product-sidebar {
        margin-top: 50px;
    }

}
@media (max-width: 991px) { 
    .main-menu-warp .sociles {
        display: block;
        float: left;
        margin-right: 0;
        overflow: hidden;
        padding: 17px 0 17px 20%;
        width: 41%;
    }
    .main-menu-warp .main-menu {
        display: block;
        float: right;
        padding-left: 0;
        padding-right: 55px;
        position: relative;
        width: 40%;
        position: relative;
    }
    .mobile-arrow {
        display: block;
    }
    .main-menu ul {
        background: #ffffff none repeat scroll 0 0;
        display: block;
        overflow: hidden;
        position: absolute;
        right: 23%;
        top: 58px;
        width: 100%;
    }
    .main-menu ul li {
        border-bottom: 1px solid #ea1d24;
        display: block;
        float: none;
        text-align: left;
    }
    .main-menu ul li a {
        display: block;
        padding-left: 37px;
    }
    .main-menu ul li a:hover{}
}